@import url('https://fonts.googleapis.com/css?family=Merriweather');

/*All*/
body{
    background-color: white;
    padding-top: 81px;
    padding-bottom 60px;
    font-family: 'Merriweather', serif;
}



/*content sections*/
#content {
    width: 80%;
    margin: 0 auto; 
}


/*Gallery*/
#gallery-content {
    padding-top: 20px;
}
#gallery-subnav {
    float: right;
    position: relative;
    left: -50%;
    text-align: right;
}
#gallery-subnav ul{
    list-style-type: none;
    position: relative;
    left: 50%
}
#gallery-subnav ul li{
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    margin-right: 5px;
    text-transform: lowercase;
    display: inline;
    margin: 0 auto;
}
#gallery-subnav ul li:hover{
    background: red;
}
#gallery-subnav a{
    text-decoration: none;
}
/*images*/
#gallery-images {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 10px;
    -moz-column-count: 5;
    -moz-column-gap: 10px;
    column-count: 5;
    column-gap: 10px;
    clear: both;
    padding-top: 5px;
    padding-bottom: 70px;
}
.responsive {
    padding: 5px 0;
}
#gallery-images img {
    width: 100%;
    height: auto;
    border: 3px solid black;
}
#gallery-images img:hover{
    opacity: 0.8;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/*Contact Us Page*/
.column1 {
	width: 45%;
    text-align: center;
    float:left;
    
}
.column1 h1 {
    margin-top: 50px;
}
.column1 p {
    border: 1px solid black;
    width: 50%;
    padding: 10%;
    margin: 100px auto 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #333;
}
.contact-title {
    font-weight: bold;
    font-size: 1.3em;
}
.link {
    font-style: italic;
}
.column2 {
	width: 45%;
    float: left;
}
.column2 h1 {
    margin-top: 50px;
    text-align: center;
}
#contact-form {
    padding: 110px 75px;
}

#textbox {
    height: 100px;
}



/*About Us Page */
#anthony {
    position: relative;
    top: 70px;
    left: 100px;
    border-radius: 70px;
}
#about-text {
    width: 400px;
    padding-top: 80px;
}
#about-header {
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px;
}



/*Navbar*/
.navbar-fixed-top {
    border-bottom: 5px solid red;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
nav .navbar-brand {
    height: 80px;
}
nav .nav >li >a {
    padding: 30px;
    text-transform: lowercase;
}
nav .nav >li >a:hover {
    color: red;
}
nav .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}




/*Footer*/
.glyphicon-log-in{
    top: -3px;
    left: 5px;
}
footer {
    height: 15px;
}



/*screen size change*/
@media screen and (max-width: 1650px) {
    #anthony {
        left: 50px;
    }
}
@media screen and (max-width: 1350px) {
    #anthony {
        left: 0px;
    }
    #about-text {
        padding-left: 20px;
    }
}
@media screen and (max-width: 1000px) {
    //* content */
    #content {
        width: 100%;
    }
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
        padding-bottom: 70px;
    }
    
    /*Contact*/
    .column1 p {
        border: 1px solid black;
        width: 90%;
        padding: 10%;
        margin: 10px auto 0 auto;
    }
    #contact-form {
        padding: 30px 75px;
    }
    #textbox {
        height: 90px;
    }
    
    /*About*/
    #anthony {
        top: 0px;
        width: 70%;
        height: auto;
    }
    #about-text {
        width: 90%;
        padding-top: 15px;
        padding-left: 0px;
    }
    
    /*Gallery*/
    #gallery-subnav ul li {
        font-size: 1em;
    }
}
@media screen and (max-width: 765px) {
    //* content */
    #content {
        width: 100%;
    }
    
    //* contact us */
    #column1 p {
        border: 1px solid black;
        width: 100%;
        padding: 0%;
        margin: 0;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #333;
    }
    #contact-form {
        padding: 0px;
    }
    #anthony {
        padding-top: 30px;
        padding-left: 10px;
    }
    
    /*About*/
    #anthony {
        border-radius: 0;
    }
    
    /*Gallery*/
    #gallery-images {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media screen and (max-width: 550px) {
    /*Gallery*/
    #gallery-subnav ul li {
        font-size: .8em;
    }
    /*contact*/
    #textbox {
        width: 250px;
    }
    .contact-h1 {
        font-size: 2em;
    }
    
    /*About*/
    #about-header {
        padding-bottom: 0px;
    }
}
@media screen and (max-width: 400px) {
    /*Gallery*/
    #gallery-subnav ul li {
        font-size: .4em;
    }
    #gallery-images {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    /*contact*/
    .column1 p {
        width: 99%;
    }
    
    /*About*/
    #about-text {
        font-size: .9em;
    }
    /*Navbar*/
    .navbar-brand {
        display: none;
    }
    /*Footer*/
    footer p {
        font-size: .7em;
    }
}