* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#888;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {
	font:0.8em;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:50px;
	margin:0 auto;
	width:80%;
}
#header h2 {
	color:#333;
	font-size:200%;
	text-align:center;
}

/* navigation */
#navigation {
	background:#fafafa;
	margin:0 auto;
	width:80%;
	height:40px;
	list-style:none;
    border-bottom: 1px solid #999;
}
#navigation li {
	float:left;
	width:33.3%;
	list-style:none;
}
#navigation a {
	color:#333;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:80%;
}
#content h1 {
	font-size:1.8em;
	padding:20px 0;
    text-align: center;
}
#content h3, p {
    text-align: center
}
table {
    margin: 0 auto;
}
td {
    padding: 5px;
    text-align: center;
    
}
form {
    width: 250px;
    margin: 0 auto;
    display: block;
}
form p {
    text-align: left;
}
#submit {
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
}
input {
    margin: 10px 0;
}
#delete {
    padding-left: 330px;
}
input, select, .input {
    color: #800000;
	padding: 10px;
	font-weight: bold;
	font-size: 1em;
	border:1px solid black;
    margin: 30 auto;
    
}